body {
    color: #555;
    padding-top: 70px;
}

html,
body {
    height: auto;
    min-height: 100vh;
}

.exit-nav,
.profile-screen,
.leaders-screen,
.about-screen {
    display: none;
}

.fa-google,
.fa-github {
    font-size: 120px;
}

td {
    text-align: right;
}

.dealt-card {
    float: left;
    height: 100%;
}

.hand-wrapper {
    height: 300px;
}
