body {
    color: #555;
    padding-top: 70px;
}

html,
body {
    height: auto;
    min-height: 100vh;
}

.sign-out-nav,
.profile-screen,
.leaders-screen,
.about-screen,
.opponent-screen,
/* .bets-screen, */
.table-screen,
.auth-alert,
.navbar-collapse {
    display: none;
}

.fa-google,
.fa-github {
    font-size: 120px;
}

td {
    text-align: right;
}

.dealt-card {
    height: 100%;
    position: absolute;
    top: 0;
}

.hand-wrapper {
    height: 100px;
    /* border-radius: 13px; for 300px height*/
    border-radius: 5px;
}

@media(min-width: 991px) {
    .hand-wrapper {
        height: 175px;
        border-radius: 8px;
    }
}